#simple-editor {
  [data-component-marker='playbook-popover'] {
    border: 1px dashed rgba(170,170,170,0.7)
  }
  [data-component-marker='popover-content'] {
    border-bottom: 1px dashed rgba(170,170,170,0.7)
  }
}